

/**************************
 *         CUSTOM         *
 **************************/

#block-views-upcoming_events-block {
  _border: 1px solid red;
  min-height: 100px;
  overflow: hidden;
  background-color: #02aace;
  position: relative; 
}


#block-views-upcoming_events-block img.landscape{
  height: 350px;
  width: auto;
  min-width: 100%;
}
#block-views-upcoming_events-block img.portrait{
  width: 100%;
  height: auto;
}

#block-views-upcoming_events-block .block-title { 
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  width: 25%;
  float: left;
  text-align:center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

#block-views-upcoming_events-block .block-title .title-content{
  margin: 0;
}

#block-views-upcoming_events-block .block-title .small{ 
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 13px;
}

#block-views-upcoming_events-block .block-title a{
  letter-spacing: 5px;
  color: #f5f5f5;
  font-size: 14px;
}
#block-views-upcoming_events-block .block-title a:hover{
  text-decoration: underline;
}


#block-views-upcoming_events-block .view-content,
#block-views-upcoming_events-block .view-empty {
  width: 75%;
  float: right;
  background: #fff;
}
#block-views-upcoming_events-block .view-content {
  height: 225px;
}
#block-views-upcoming_events-block .view-empty {
  padding: 50px;
  font-size: 20px;
}

#block-views-upcoming_events-block .views-row{
  width: 33.333333%;
  min-height: 100%;
  float: left;
  _width: 200px;
  _display: inline;
  overflow: hidden;
  padding: 20px;
  background: #f5f5f5;
  border: solid 2px #f5f5f5;  
  transition: border-color .5s;
}
#block-views-upcoming_events-block .views-row:hover {
  border: 2px solid #02aace;
  transition: border-color .5s;
}

#block-views-upcoming_events-block .views-row-even {
background: #f0f0f0;
    border: solid 2px #f0f0f0;
}
#block-views-upcoming_events-block .views-row .views-field-field-image {
  overflow: hidden;
  _max-height: 350px;
  display: none;
}


#block-views-upcoming_events-block .views-field-field-date,
#block-views-upcoming_events-block .views-field-field-start-date {
  font-size: 12px;
  text-transform: uppercase;
  width: auto;
}
#block-views-upcoming_events-block .views-field-field-date span,
#block-views-upcoming_events-block .views-field-field-start-date span {
  letter-spacing: 1px; 
  padding: 2px 5px;
  background: #02aace;
  color: #fff;
}

#block-views-upcoming_events-block .views-field-title {
  margin: 10px 0 10px 0;
  padding: 0;
}
#block-views-upcoming_events-block .views-field-title a{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 10px 0 10px 0;
  padding: 0;

  color: #333;
}
#block-views-upcoming_events-block .views-field-title a:hover{
  border-bottom: 2px solid #02aace;
}





/*** LATEST ARTICLES BLOCK *******************************************************************/
#block-views-latest_articles-block {
  _border: 1px solid red;
  min-height: 100px;
  overflow: hidden;
  background-color: #02aace;
  position: relative;
  
}


#block-views-latest_articles-block img.landscape{
  height: 350px;
  width: auto;
  min-width: 100%;
}
#block-views-latest_articles-block img.portrait{
  width: 100%;
  height: auto;
}

#block-views-latest_articles-block .block-title { 
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  width: 25%;
  float: left;
  text-align:center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}


#block-views-latest_articles-block .block-title .small{ 
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 13px;
}


#block-views-latest_articles-block .block-title a{
  letter-spacing: 5px;
  color: #f5f5f5;
  font-size: 14px;
}
#block-views-latest_articles-block .block-title a:hover{
  text-decoration: underline;
}




#block-views-latest_articles-block .view-content,
#block-views-latest_articles-block .view-empty {
  width: 75%;
  float: right;
  background: #fff;
}
#block-views-latest_articles-block .view-content {
  height: 350px;
}

#block-views-latest_articles-block .view-empty {
  padding: 50px;
  font-size: 20px;
}

#block-views-latest_articles-block .views-row{
  width: 33.333333%;
  float: left;
  overflow: hidden;
}

#block-views-latest_articles-block .views-row .views-field-field-image {
  overflow: hidden;
  _max-height: 350px;
}


#block-views-latest_articles-block #event-date{
  letter-spacing: 1px;
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
}
#block-views-latest_articles-block #event-title a{
  font-size: 18px;
  color: #333;
  font-weight: 400;
}
#block-views-latest_articles-block #event-title a:hover{
  border-bottom: 1px solid #02aace;
}

#block-views-latest_articles-block .overlay-container {
  position: absolute;
  top: 0;
  padding-top: 275px;
  height: 350px;
  transition: all 1s; 
  width: 25%;
}
#block-views-latest_articles-block .overlay-container:hover {
  padding-top: 0;
  transition: all .5s;   
}

#block-views-latest_articles-block .overlay {
  background-color: rgba(255,255,255,0.95);
  padding: 20px 30px 20px 30px;
  height: 100%;;
}



/***************************************************/
#block-views-walk_countdown-block {
  color: #fff;
  padding: 50px 0 60px 0;
  height: 200px;
  overflow: hidden;
  background: #454545;
  _background: url("../images/title-bg.jpg");
  _background-attachment: fixed;
  _background-size: 100%;
}
#block-views-walk_countdown-block .left{
    width: 50%;
    float: left;
    text-align: right;
    padding: 0 50px;
}

#block-views-walk_countdown-block .right{
    float: right;
    width: 50%;
}

#block-views-walk_countdown-block .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 3px;
    margin: 10px 0 3px 0;
    border-bottom: solid 2px #02aace;
    display: inline-block;
}
#block-views-walk_countdown-block .walk-name,
#block-views-walk_countdown-block .walk-date {
    color: #ccc;
    display: block;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 16px;
}



#block-views-walk_countdown-block #countdown_days,
#block-views-walk_countdown-block #countdown_hours,
#block-views-walk_countdown-block #countdown_mins,
#block-views-walk_countdown-block #countdown_secs {
 display: inline-block;
 min-width: 120px;
 text-align: center;
}


#block-views-walk_countdown-block #days,
#block-views-walk_countdown-block #hours,
#block-views-walk_countdown-block #minutes,
#block-views-walk_countdown-block #seconds {
    font-family: "Montserrat";
    font-size: 60px;
    color: #02aace;
}
#block-views-walk_countdown-block .countdown_label {
    text-align: center;
    width: 70px;
    margin: 0 auto;
    margin-top: -10px;
    background: #333333;
}


/******** TESTIMONIALS ***********************/
#block-views-testimonials-block {
  _background: url("../images/landscape.jpg");
  _background-size:cover;
  _background-size: 100%;
  _background-attachment: fixed;
  
  min-height: 100px;
  overflow: hidden;
  position: relative;  
  padding: 50px;
  text-align: center;
  color: #fff;
  font-size: 110%;
}

#block-views-testimonials-block .views-row-even,
#block-views-testimonials-block .views-row-odd {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#block-views-testimonials-block a {
  color: #fff;
  font-size: 110%;
}
#block-views-testimonials-block a:hover {
  color: #02aace;
}

#block-views-testimonials-block .views-field-picture img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  _box-shadow: 2px 2px 10px #888888;
}


#block-views-testimonials-block .views-field-field-testimonial
{
  margin: 1.5em 20%;
  font-family: 'Merriweather',Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 26px;
  color: #fff;
  background: none;
  border: none;
  line-height: 1.2em;
}
#block-views-testimonials-block .views-field-field-testimonial .field-content:before,
#block-views-testimonials-block .views-field-field-testimonial .field-content:after
{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  _text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10px;
  color: #02aace;
  _display: block;
}

#block-views-testimonials-block .views-field-field-testimonial .field-content:before
{
      content: "\f10d";
}
#block-views-testimonials-block .views-field-field-testimonial .field-content:after
{
      content: "\f10e";
}



/*** lay director ***/
#block-block-8,
#block-block-9 {
  position: relative;
  _background-image: url("../images/ld-background.jpg");
  background-color: rgba(255,255,255,0.4);
  _background-size: 100%;
  _background-size:cover;
  _background-attachment: fixed;
  
  padding: 20px 25% 20px 15%;
  margin-right: auto;
  margin-left: auto;
  
  }
#block-block-8 .block-title,
#block-block-9 .block-title {
      font-size: 28px;
      text-transform: none;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: -1px;
}
#block-block-8 .content,
#block-block-9 .content {
  width: 75%; 
  float: left;
  color: #333;
  }
#block-block-8 .ld-signature,
#block-block-9 .ld-signature {
  text-align: center;
}
#block-block-8 .ld-signature img,
#block-block-9 .ld-signature img{
  max-width: 200px;
}
#block-block-8 .ld-photo,
#block-block-9 .ld-photo {
  _position: relative;
}
#block-block-8 .ld-photo img,
#block-block-9 .ld-photo img {
  position: absolute;
  bottom: 0;
  left: 60%;
  height: 80%;
  vertical-align: bottom;
  padding-top: 5%;
}




@media screen and (min-width : 768px) and (max-width : 1200px)  {
  
  #block-views-walk_countdown-block #countdown_days,
  #block-views-walk_countdown-block #countdown_hours,
  #block-views-walk_countdown-block #countdown_mins,
  #block-views-walk_countdown-block #countdown_secs {
   min-width: 75px;
  }
  #block-views-walk_countdown-block #days,
  #block-views-walk_countdown-block #hours,
  #block-views-walk_countdown-block #minutes,
  #block-views-walk_countdown-block #seconds {
      font-size: 40px;
  }
  
  
  
}
