/**************************
 *        GLOBALS         *
 **************************/

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}


/**************************
 *         HEADER         *
 **************************/


#header-left {
  float: left;
  margin-right: 20px;
  max-width: 33.3%;
}

#header-right {
  float: right;
}

#logo {
  float: left;
}
#logo img {
  max-height: 50px;
}

.logo1 {
  display: block;
}
.logo2 {
  display: none;
}
#header-wrap.scrolled  .logo1 {
  display: none;
}
#header-wrap.scrolled  .logo2 {
  display: block;
}

#site-name {
  padding-left: 60px;
}

#site-slogan {
  padding-left: 60px;
  margin-top: -5px;
}

#social-icons ul, 
#secondary-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#social-icons ul li, 
#secondary-menu ul li {
  display: inline;
}
#social-icons ul li a, 
#secondary-menu ul li a {
  text-decoration: none;
  padding: .2em .5em;
  text-transform: uppercase;
}
#social-icons ul li a:hover, 
#secondary-menu ul li a:hover {
  color: #ABCDEF;
}
#secondary-menu {
  padding: 5px 0;
  font-size: 95%;
}



/**************************
 *       NAVIGATION       *
 **************************/
.admin-menu #overlay-container {
  margin-top: 20px; /* Fix for using admin_menu with the overlay. */
}

.breadcrumb {
  padding: 10px;
}

#scroll-to-top {
  background: url("../images/scroll-to-top.png") no-repeat center center;
  background-size: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: none;
  text-indent: -9999px;
  z-index: 1;
}
#scroll-to-top:hover {
  opacity: 0.8;
}


media 



/**************************
 *         CONTENT        *
 **************************/
#title-wrap {
}


.front #content-wrap {
  padding: 0;
}
#content-wrap {
  _border: 1px solid gray;
  padding: 0 15%;
  clear: both;
}

#content {
  _border: 1px solid gray;
}
#content.sidebar {
  display: table-cell;
  width: 69%;
}

/**************************
 *        SIDEBARS        *
 **************************/

#sidebar {
  display: table-cell;
  width: 30%;
  padding: 0;
  margin: 0;
}
#sidebar .region-sidebar {
  padding: 10px;
}

#sidebar .block {
    margin-bottom: 40px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 40px;
}

/**************************
 *         FOOTER         *
 **************************/

.region-footer .block {
  vertical-align: top;
  display: inline-block;
  width: 33%;
}
.region-copyright .block {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}












