/**************************
 *        GLOBALS         *
 **************************/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #f8f8f8;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 130%;
  font-weight: 500;
  overflow: hidden;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

p {
  line-height: 1.6em;
}
a {
  text-decoration: none;
}

.permalink {
  text-transform: lowercase;
}



#menu-wrap .menu {
  font-family: "Montserrat";
  text-transform: uppercase;
}

/*** FORMS ***/
label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  _width: 290px;
  _margin-bottom: 20px;
  _display: block;
  padding: 5px 10px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}



form input[type="submit"] {
  padding: 6px 20px;
  background-color: #02aace;
  color: #fff;
  border: none;
  margin-right: 10px;
  text-transform: uppercase;
}



/*** ELEMENTS ***/
table {
  width: 100%;
}
table caption {
  font-family: "Montserrat";
  text-transform: uppercase;
}

tr.even, tr.odd {
      margin: 10px 0.6em;
}
td {
  padding: 5px;
}



/**************************
 *         HEADER         *
 **************************/
#header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  padding: 50px 10%;

  -webkit-transition: all .5s;
  transition: all .5s; 

}

#header-wrap.scrolled {
  position: fixed;
  background-color: rgba(255,255,255,.9);
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header-wrap a {
  color: white;
}
#header-wrap.scrolled a {
  color: #333;
}

#header-left {
  float: left;
  margin-right: 20px;
  max-width: 33.3%;
}

#header-right {
  float: right;
  
}

#logo {
  float: left;
}
#logo img {
  max-height: 50px;
}

.logo1 {
  display: block;
}
.logo2 {
  display: none;
}
#header-wrap.scrolled  .logo1 {
  display: none;
}
#header-wrap.scrolled  .logo2 {
  display: block;
}

#site-name {
  padding-left: 60px;
}
#site-name h1 {
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: -2px;
  margin: 0px;
}

#site-slogan {
  padding-left: 60px;
  margin-top: -5px;
}
#site-slogan h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: white;
}

#social-icons ul, #secondary-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#social-icons ul li, #secondary-menu ul li {
  display: inline;
}
#social-icons ul li a, #secondary-menu ul li a {
  text-decoration: none;
  padding: .2em .5em;
  text-transform: uppercase;
}
#social-icons ul li a:hover, #secondary-menu ul li a:hover {
  color: #02aace;
}
#secondary-menu {
  padding: 5px 0;
  font-size: 95%;
}

/**************************
 *       NAVIGATION       *
 **************************/
.admin-menu #overlay-container {
  margin-top: 20px; /* Fix for using admin_menu with the overlay. */
}

.breadcrumb {
  padding: 10px;
}

#menu-wrap {
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
#menu-wrap .menu {
  font-size: 14px;

}

#scroll-to-top {
  background: url("../images/scroll-to-top.png") no-repeat center center;
  background-size: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: none;
  text-indent: -9999px;
  z-index: 1;
}
#scroll-to-top:hover {
  opacity: 0.8;
}

/**************************
 *        SIDEBARS        *
 **************************/
#sidebar {
  padding: 0;
  margin: 0;
}
#sidebar .region-sidebar {
  padding: 10px;
}

#sidebar .block {
  margin-bottom: 40px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
}

#sidebar .block .block-title {
  font-size: 110%;
  text-transform: uppercase;
}

/**************************
 *         CONTENT        *
 **************************/
.front #title-wrap {
  padding: 20px 50px 10px;
  text-align: center;
  background: none;}
.front #title-wrap h1 {
  font-size: 28px;
  color: #333;
  border-bottom: 1px solid #ddd;

}


#title-wrap {
  text-align: center;
  margin: 0;
  padding: 150px 10% 50px 10%;
  clear: both;
  text-transform: uppercase;
  
  _background-image: url("../images/title-bg.jpg");
  _background-repeat: no-repeat;
  _background-size: 100%;
  _background-attachment: fixed;
  _background-position: 0 50%;
}

#title-wrap h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-top: solid 2px rgba(255,255,255,.1);
  border-bottom: solid 2px rgba(255,255,255,.1);
  display: block;
  padding: 10px;
}

#content-wrap {

}

#content {

}

.not-front #content.sidebar {
  padding: 20px;
}

.front .node {
  padding: 0 5%;
}

.node img {
  padding: 10px;
  border: 1px solid #DDD;
  background-color: white;
  height: auto;
}

.node .user-picture {
  float: right;
}
.node .user-picture img {
  width: 80px;
}

.date-box {
  background: #02aace;
  border: solid 1px #ddd;
  display: block;
  width: 60px;
  position: absolute;
  margin-left: -75px;
  margin-top: 0px;
  text-align: center;
  color: #fff;
}
.date-box .day {
  display: block;
  font-size: 32px;
  font-weight: 500;
}
.date-box .month {
  font-size: 12px;
  display: block;
  letter-spacing: 5px;
  padding-left: 5px;
  background: #fff;
  color: #222;
  text-transform: uppercase;
}

.field-name-field-tags .field-label, .field-name-field-tags .field-items, .field-name-field-tags .field-item {
  display: inline;
  font-size: 90%;
}
.field-name-field-tags .field-item {

}
.field-name-field-tags .field-item a {
  background: #02aace;
  padding: 2px 10px;
  margin: 2px;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.field-name-field-tags .field-item a:hover {
  background: white;
  color: #333;
}

/*** TAXONOMY TERMS ***/
div.field-type-taxonomy-term-reference {
  display: inline;
}

/*** INLINE LINKS ***/
#post-content {
  display: inline;
  margin: 20px;
}

/*** COMMENTS ***/
a[id^="comment-"]:before {
  display: block;
  content: "";
  height: 60px;
  margin: -60px 0 0;
}

#comment-form:before {
  display: block;
  content: "";
  height: 120px;
  margin: -120px 0 0;
}

#comments {
  font-size: 14px;
  margin-top: 35px;
}

.comment {
  clear: both;
  margin: 30px 0 0 0;
}
.comment h3 {
  margin: 0;
  color: #888;
}

.comment .submitted {
  display: inline-block;
}
.comment .submitted .date {
  font-size: 95%;
}
.comment .links {
  font-size: 95%;
  margin-right: 40px;
  margin-left: 40px;
}
.comment a {
  color: #02aace;
}
.comment a:hover {
  color: #333;
  text-decoration: underline;
}

#comments .indented {
  margin-left: 85px;
}

#comments #user-info {
  display: table-cell;
  padding: 0;
  vertical-align: top;
  overflow: hidden;
}
#comments #user-info .user-picture img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 60px;
  background-color: white;
}
#comments #user-info .username {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  margin: 0;
  font-size: 90%;
}

#comments #comment-text {
  padding: 0 15px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-bottom: solid 1px #eee;
}

/**************************
 *         FOOTER         *
 **************************/
#footer-wrap {
  background: #111111;
  color: #cccccc;
  padding: 20px 40px;
}

#footer-wrap .block {
  padding: 0 40px;
}
#footer-wrap .block h1, #footer-wrap .block h2, #footer-wrap .block h3, #footer-wrap .block h4 {
  color: white;
}

#footer-wrap p {
  margin: 0;
}
#footer-wrap a.active {
  color: #fff;
}
#footer-wrap a:hover {
  color: #ccc;
}

/* Copyright region */
.region-copyright .block-menu .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.region-copyright .block-menu .menu li {
  display: inline;
}

.region-copyright {
  padding: 50px 10% 10px 10%;
  font-size: 95%;
}
.region-copyright .block-menu .menu {
  text-align: right;
}
.region-copyright a.active {
  color: #02aace;
}

/*PayPal Domate Form */
#footer-wrap #paypal form {
  text-align: center;
}
#footer-wrap #paypal form table {
  width: 100%;
  margin-bottom: 20px;
}
#footer-wrap #paypal form table tbody {
  border: none;
}








/**************************************************************************************/
/** RESPONSIVE QUERIES ****************************************************************/
/**************************************************************************************/

@media screen and (min-width : 768px) and (max-width : 1200px)  {
  
  #header-wrap {
    padding: 50px 20px;
  }  
  
  
  
}

