.sf-arrows .sf-with-ul:after {
  display: none;
}



/*** ESSENTIAL STYLES ***/
#menu-wrap .menu, #menu-wrap .menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu-wrap .menu li {
	position: relative;
}
#menu-wrap .menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
#menu-wrap .menu > li {
	float: left;
}
#menu-wrap .menu li:hover > ul,
#menu-wrap .menu li.sfHover > ul {
	display: block;
}

#menu-wrap .menu a {
	display: block;
	position: relative;
}
#menu-wrap .menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
#menu-wrap .menu {
	_float: left;
	margin-bottom: 1em;
	_border: 1px solid red;
}
#menu-wrap .menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
#menu-wrap .menu a {
	_border-left: 1px solid #fff;
	_border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	_border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
  color: white;
}
#menu-wrap .menu a:hover {
  color: #02aace;
}
#menu-wrap .menu li {
	_background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
#menu-wrap .menu ul li {
	_background: #AABDE6;
	background: black;
	width: 100%;
}

#menu-wrap .menu ul ul {
	_margin-left: -5px;
	_margin-top: 5px;
}
#menu-wrap .menu ul ul li {
	_background: #9AAEDB;
	_background: green;
}
#menu-wrap .menu li:hover,
#menu-wrap .menu li.sfHover {
  _background: #CFDEFF;
  _background: #333;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
