/*
    'base' => t('Base Color'),
    'headertext' => t('Header Text'),
    'headertextscrolled' => t('Header Text (Scrolled)'),

    'background' => t('Body Background'),
    'headings' => t('Body Headings'),
    'text' => t('Body Text'),
    'link' => t('Body Links'),

    'footerback' => t('Footer Background'),
    'footerheadings' => t('Footer Headings'),
    'footertext' => t('Footer Text'),
    'footerlinks' => t('Footer Links'),

    **************************************************
        'base' => '#02aace',
        
        'headertext' => '#fffffe',
        'headertextscrolled' => '#333333',
 
        'background' => '#f8f8f8',
        'headings' => '#ffffff',
        'text' => '#3b3b3b',
        'link' => '#02aace',
 
        'footerback' => '#111111',
        'footerheadings' => '#ffffff',
        'footertext' => '#cccccc',
        'footerlinks' => '#02aace',

 */




/* ---------- Color Module Styles ----------- */

a {
  color: #02aace;
}
a:hover {
  _border-bottom: 1px solid #02aace;
}

#block-views-upcoming_events-block {
  background-color: #02aace;
} 
form input[type="submit"] {
  background-color: #02aace;
}
#social-icons ul li a:hover, #secondary-menu ul li a:hover {
  color: #02aace;
}
.date-box {
  background: #02aace;
}
.field-name-field-tags .field-item a {
  background: #02aace;
}
.region-copyright a.active {
  color: #02aace;
}













/**************************
 *         CUSTOM         *
 **************************/
#block-views-upcoming_events-block .views-field-field-date span, 
#block-views-upcoming_events-block .views-field-field-start-date span {
    background: #02aace;
}
.upcoming-events-highlight-block {
  background-color: #02aace;
}
.upcoming-events-highlight-block .views-row:hover {
  border-color: #02aace;
}
.upcoming-events-highlight-block .views-field-field-date span,
.upcoming-events-highlight-block .views-field-field-start-date span {
  background: #02aace;
}
.upcoming-events-highlight-block .views-field-title a:hover{
  border-bottom: 2px solid #02aace;
}

#block-views-latest_articles-block {
    background-color: #02aace;
}
#block-views-latest_articles-block #event-title a:hover {
    border-bottom: 1px solid #02aace;
}

#block-views-walk_countdown-block .title{
    border-bottom: solid 2px #02aace;
}
#block-views-walk_countdown-block #days,
#block-views-walk_countdown-block #hours,
#block-views-walk_countdown-block #minutes,
#block-views-walk_countdown-block #seconds {
    color: #02aace;
}


#block-views-testimonials-block a:hover {
  color: #02aace;
}
#block-views-testimonials-block .views-field-field-testimonial .field-content:before,
#block-views-testimonials-block .views-field-field-testimonial .field-content:after
{
  color: #02aace;
}




